<section>
    <style>

          body {
            background-color: #dee6e9;
        }

    </style>

    <div class="container">
     <img class="titlePassword" src="..\images\2.png"> 
       

    </div>

    
    <img class="titlePassword" id="asset1" src="..\images\1.png"> 


     <div class="passwordFormClass">
        
        <form id="passwordFormId" action="/password" method="post">
           
            <input  id="inputAccueil" type="text" name="password" placeholder="Password" style="color: black;">
            <input id="buttonAccueil" type="submit" value="Send" style="color: black;"> 
             <p>{{answer}}</p>

        </form>

       

    </div>


   
   


</section>